
<div class="text-center">


<div class="text-center text-danger">
  <div class="spinner-border"  style="width: 5rem; height: 5rem;"  *ngIf="showSpinner" role="status">
  </div>
</div>


<div *ngFor="let item of filmArray" class="d-inline-flex mt-5 mx-auto" >
  <div class="card " style="width: 18rem; background-color: black; color: aliceblue;">
    <img [src]=" 'http://image.tmdb.org/t/p/w500' + item.backdrop_path"  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.overview}}</p>
      <a class="btn btn-danger"  [routerLink]="['/movie',item.id]">Go Details</a>
    </div>
  </div>
</div>




<nav aria-label="Page navigation example bg-dark" *ngIf="showSpinner!=true"   >
  <ul class="pagination justify-content-center mt-5">
    <li class="page-item"><a class="page-link  text-dark" type="button" [ngClass]="currentPage == 1 ? 'disabled' : ''" (click)="getPopularMovie(currentPage-1)" >Previous</a></li>
    <li class="page-item"><a class="page-link active text-dark " type="button" (click)="getPopularMovie(currentPage)" >{{currentPage}}</a></li>
    <li class="page-item"><a class="page-link text-dark" type="button" (click)="getPopularMovie(currentPage + 1)">{{currentPage + 1}}</a></li>
    <li class="page-item"><a class="page-link text-dark" type="button" (click)="getPopularMovie(currentPage + 2)" >{{currentPage + 2}}</a></li>
    <li class="page-item"><a class="page-link text-dark" type="button" (click)="getPopularMovie(currentPage)" >Next</a></li>
  </ul>
</nav>
</div>


